<!-- Footer Elements -->
<div class="container">

    <!-- Grid row-->
    <div class="row mb-5">

        <!-- Grid column -->
        <div class="col-md-12 py-3">
            <div class="mb-5 flex-center">

                <!-- Facebook -->
                <a class="fb-ic">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">android</mat-icon>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                </a>
                <!-- Google +-->
                <a class="gplus-ic">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                </a>
                <!--Linkedin -->
                <a class="li-ic">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                </a>
            </div>
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row-->

</div>
<!-- Footer Elements -->

<!-- Copyright -->
<div class="footer-copyright text-center py-1 ">© 2020 Copyright:
    <a href="#" class="titleFooter"> Luis Daniel Martinez</a>
</div>
<!-- Copyright -->