
<div class="container-fluid mt-5 ">
    <div class="row justify-content-center pt-5">
        <div class="col-12 col-sm-11 col-md-11 col-lg-5 col-xl-7">
            <h1 class="text-center text-dark mt-3 ">Login</h1>
            <form class="mt-4" [formGroup]="loginForm">
               
                <div class="form-group">
                    <label for="exampleInputEmail1">Direccion de correo electronico</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="userEmail">
                    <small id="emailHelp" class="form-text text-muted">ejemplo@gmail.com</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="userPassword">
                </div>
            </form>
            <button class="btn btn-block btn-lg bg-dark text-white mt-4" [disabled]="loginForm.invalid" (click)="SingIn()">Entrar</button>
        </div>
    </div>